@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.grid {
  @extend %invertOnHover;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $background-grey;
  margin-top: -1rem;
  color: black;
  position: relative;
}

img {
  // Supplied arrow is facing down
  transform: rotateZ(-90deg);
}

.content {
  flex: 1 1 auto;
}

.status {
  flex: 1 1 25%;
  max-width: 25%;
  width: 100%;
  text-align: right;
}

.date,
.location {
  display: block;
}

.date {
  margin-bottom: 0.5rem;
}

.location {
  font-size: 14px;
}

.show {
  margin-bottom: 1rem;
}
