@import "../styles/mixins.scss";

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.link-action {
  @extend %invertOnHover;
  width: 100%;
  text-align: center;
  display: block;
  padding: 1rem;
  border-radius: 8px;
}

.link {
  margin-bottom: 1rem;
}
