button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.link-action {
  width: 100%;
  text-align: center;
  display: block;
  padding: 1rem;
  transition: filter 0.3s ease-in-out;
  border-radius: 8px;

  &:hover,
  &:active,
  &:focus {
    filter: invert(1);
  }
}

.link {
  margin-bottom: 1rem;
}
